:root {
  --white: #f8f8ff;
  --white-2: #f9f6fd;
  --dark: #201f1f;
  --lightest-gray: #f4f3f7;
  --light-gray: #eae9ec;
  --gray: #4a494d;
  --light-purple: #e1deee;
  --purple: #9083CB;
  --dark-purple: #2e2c3a;
  --light-red: #ee7777;
  --red: #e24949;
  --dark-red: #AC1515;
  --light-red: #a77e7e;
  --light-blue: #C0E5EE;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  }
  
*,
*:before,
*:after {
box-sizing: inherit;
}

* {
margin: 0px;
padding: 0px;
}

body {
  background-color:var(--dark-purple);
  font-family: 'Lato', sans-serif;
  color: var(--white);
}

ul {
  list-style-type: none;
}

a {
  text-decoration-color: var(--light-blue);
  color: var(--dark-purple);
  transition: 0.5s;
}

a:hover, a:active {
  color: var(--gray);
  text-decoration-color: var(--gray);
}

h1 {
  font-family: 'DM Serif Display', serif;
  letter-spacing: 0.1rem;
  text-align: center;
  margin: 1rem auto;
  color: var(--white-2)
}

button {
  cursor: pointer;
}